.header-links a:hover{
    color: #0000ff;
    font-size: 110%;
}
body, html{
    width: 100%;
    justify-content: center;
    display: flex;
    margin: 0px;
}
.cabecalho{
    position: fixed;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 3;
}
header{
    height:75px;
    width: 100%;
    background-color: #88bbff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 3px #000000;
}
.logo{
    height: 65px;
    width: 65px;
    background-size: 100% 100%;
    background-image: url('./img/logo.png');
    margin-left: 37px;
    border: solid 3px #000000;
}
header a{
    margin-left: 10px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
.tela{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddffff;
}
.header-links{
    display: flex;
    justify-content: space-around;
    width: 45%;
    font-size: 150%;
}
.pesquisa{
    display: flex;
    height: 50px;
    width: 30%;
}
.lupa{
    background-color: #FFFFFF;
    height: 100%;
    display: flex;
    width: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 4px 0px 0px 4px;
}
.input_pesquisa{
    background-color: #FFFFFF;
    border: 0px;
    width: 100%;
    border-radius: 0px 4px 4px 0px;
}
.config_icon{
    font-size: 50px;
    margin-right: 50px;
    cursor: pointer;
}
.utilidades{
    height: 40px;
    width: 85%;
    margin-top: -1px;
    border: 1px solid #000000;
    border-radius: 0px 0px 5px 5px;
    background-color: #cccccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 150%;
}
.utilidades a{
    text-decoration: none;
    color: #000000;
    transition: 0.3s;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 5px 5px;
}
.utilidades a:hover{
    font-size: 110%;
    background-color: #999999;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}
.slider{
    height: 500px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #afdfff;
    border-radius: 6px;
    padding: 10px;
    margin-top: 85px;
    margin-bottom: 100px;
}
.selecionar_img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 50px;
}
.botao_img{
    height: 20px;
    width: 20px;
    border-radius: 100%;
    border: solid 1px;
    transition: 0.3s;
    cursor: pointer;
    background-color: #DDDDDD;
}
.slider_img{
    height: 90%;
    width: 98%;
    z-index: 1;
}
.quemSomos, .QueFazemos{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;
    font-size: 160%;
}
.quemSomos_img1, .QueFazemos_img1{
    width: 450px;
    height: 450px;
    background-color: aqua;
    border-radius: 6px;
}
.quemSomos_texto, .QueFazemos_texto{
    width: 56%;
    text-align: center;
    background-color: #ffffff;
    height: 100%;
    padding: 0px 40px 0px 40px;
    border: solid 1px black;
    border-radius: 6px;
}
.quemSomos_texto p, .QueFazemos_texto p{
    font-size: 120%
}
.funcionalidades{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: solid 1px #000000;
    width: 95%;
    height: 800px;
    margin-bottom: 100px;
    background-color: #ffffff;
    border-radius: 6px;
}
.div_funcionalidades{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.funcionalidades_partes{
    border: 1px solid #000000;
    margin: 15px 0px 15px 0px;
    min-width: 30%;
    max-width: 30%;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 10px;
}
.funcionalidades_partes h2{
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-size: 170%;
    border-bottom: 1px solid #000000;
    margin: 0px;
    background-color: #88bbff;
}
.funcionalidades_partes div{
    border-radius: 0px 0px 10px 10px;
    height: 297px;
    font-size: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 0px 10px;
    background-color: #afdfff;
}
.funcionalidades_partes:hover{
    box-shadow: #000000 5px 10px 5px;
    min-width: 35%;
    max-width: 35%;
}

.div_grafico{
    width: 95%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    border: solid 1px black;
    border-radius: 6px;
    margin-bottom: 200px ;
}
.grafico_text{
    height: 100%;
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}
.grafico_img{
    background-image: url("/img/grafico.png");
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    outline: none;
}
.grafico{
    height: 100%;
    width: 40%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.config{
    height: 100%;
    width: 175px;
    right: -185px;
    position: fixed;
    transition: 0.5s;
    margin-top: 75px;
    background-color: #77ddff;
    z-index: 3;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div_config{
    text-align: center;
    margin-bottom: 100px;
}
.div_config h3{
    font-size: 170%;
}
.div_config a{
    text-decoration: none;
    color: #000000;
    font-size: 150%;
}
.sair{
    color: red;
    font-size: 250%;
    text-decoration: none;
}
.foto_perfil{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-image: url('/img/foto_perfil.png');
    background-size: 100% 100%;
    margin-top: 30px;
}
footer{
    background-color: #888888;
    height: 230px;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 50px 0px 50px;
}
.rodape{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: left;
    font-size: 130%;
}
.sobre span{
    font-weight: 900;
    font-size: 150%;
}
.links{
    line-height: 35px;
    text-align: left;
}
.sobre{
    line-height: 30px;
    text-align: center;
}
